/* Cambiar el color de fondo */
body {
    background-image: url('21.png');
    background-size: contain; /* Ajustar la imagen dentro del fondo */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-position: center; /* Centrar la imagen en el fondo */
    /* Otros estilos para el cuerpo */
    background-color: #493AE3; /* Color de fondo de respaldo */
}

/* Cambiar el color del texto */
h1 {
    color: blue;
}

/* Estilos para el botón */
button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
